*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');




.Headerstyle{
   display: flex;
   width: 100%;
   flex-direction: row;
   justify-content:space-around;
   margin-top: 30px;


 
   
}

.HeaderRight{
    display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20px;
  
}


.HeaderRight button{
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
}

.HeaderRight button:hover,.Category button:hover {
    background-color: rgb(200, 202, 205);
    cursor: pointer;
}
/* for the profile effect*/

.Profile{
    position: relative;
    
}
.Profile::before{
    content: 'John Andrei Mandapat';
    position: absolute;
    width: 165px;
    background-color: rgb(67, 65, 65);;
    color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    transform: translate(-60px,-10px) rotate(10deg);
    opacity: 0;
    transition: 100ms cubic-bezier(.42,0,.44,1.68);
    padding: 0 10px;
    text-align: center;
  
}
.Profile:hover::before{
    transform: translate(-70px,-20px) rotate(0);
    opacity: 1;
}
.Profile::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;  
    border-right: 8px solid transparent;  
    border-top: 10px solid rgb(67, 65, 65);  
    transform: translate(-25px,-1px) rotate(10deg);
    opacity: 0;
    transition: 100ms cubic-bezier(.42,0,.44,1.68);
}

.Profile:hover::after{
    transform: translate(-25px,-5px) rotate(0);
    opacity: 1;
}
.ProfileImgStyle{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}

.ProfileWindow{
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px; 
  right: 15rem;
 
}


.ProfileWindow img{
    height: 10rem;
    width: 10rem;
}
.ProfileWindow input{
    width: 100px;
}

.ProfileWindow Button{
    background-color: rgb(165, 163, 163); 
}
/* */
.Category{
    display: flex;
    justify-content:space-around;
    padding: 10px 200px;
}

.Category button{
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

